// VARIABLES

// Color VARIABLES
$main-color: #777;
$theme-color-primary: #58e1c1;
$theme-color-secondary: #51ddfc;
$warning-color: #fd7856;
$info-color: #927bc1;
$white: #fff;

// Size VARIABLES
$width-max: 100%;

//Media Queries
$break: 768px; 

