// BUTTONS

.btn {
    margin-top: 15px;
    width: $width-max;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 6s ease-in, 2s;
    @media (min-width: $break) {
        padding: 10px 30px;
        & + & {
          margin-left: 10px;  
    }
  }

}
.default {
    background-color: $theme-color-secondary;
    &:hover {
      background-color: lighten($theme-color-secondary, 15%);
    }
  }
  
.error {
    background-color: #e4757a;
    &:hover {
      background-color: lighten(#e4757a, 15%);
    }
  }
  
.info {
    background-color: $info-color;
    &:hover {
      background-color: lighten($info-color, 15%);
    }
  }
  
.success {
    background-color: #63cc82;
    &:hover {
      background-color: lighten(#63cc82, 15%);
    }
  }
  
.warning {
    background-color: $warning-color;
    &:hover {
      background-color: lighten($warning-color, 15%);
    }
  }

.theme.col-1 {
    background-color: $info-color;
  }

.theme.col-2 {
    background-color: $warning-color;
  }
  
.theme.col-3 {
    background-color: #deb2ee;
  }
  
.theme.col-4 {
    background-color: #7ee6fd;
  }
  
.theme.col-5 {
    background-color: #88d9a0;
  }
  
.theme.col-6 {
    background-color: #4da2bb;
  }
  
.theme.col-7 {
    background-color: #ec9fa3;
  }
  
.theme.col-8 {
    background-color: #fd9f85;
  }
  
.theme.col-9 {
    background-color: #e4757a;
  }
  
.theme.col-10 {
    background-color: #63cc82;
  }
  
.theme.col-11 {
    background-color: $theme-color-secondary;
  }
  
.theme.col-12 {
    background-color: #80e8d1;
  }

/*----------- Media Queries -------------*/

@media (min-width: $break) {
    
[class^=col] + [class^=col] {
      margin-left: 10px;
    }
    
.col-1 {
      flex-basis: 8.33%;
    }
    
.col-2 {
      flex-basis: 16.67%;
    }
    
.col-3 {
      flex-basis: 25.00%;
    }
    
.col-4 {
      flex-basis: 33.33%;
    }
    
.col-5 {
      flex-basis: 41.67%;
    }
    
.col-6 {
      flex-basis: 50.00%;
    }
    
.col-7 {
      flex-basis: 58.33%;
    }
    
.col-8 {
      flex-basis: 66.67%;
    }
    
.col-9 {
      flex-basis: 75.00%
    }
    
.col-10 {
      flex-basis: 83.33%;
    }
    
.col-11 {
      flex-basis: 91.67%;
    }
    
.col-12 {
      flex-basis: 100%;
    }
  }