// GRID   

.card {
    flex-basis: $basis;
  }

.container {
    padding: 0 10px;
    @media (min-width: $break) {
        max-width: 1400px;
        @include disp;
      }
  }
  
.row {
   @include flexbox (flex, $dir: column);
    padding: 1em 10px;
    @media (min-width: $break) {
        @include flexbox ($dir: row)
    }
  }
  
[class^=col] {
    margin-top: 10px;
    flex-basis: $basis;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @media (min-width: $break) {
       @include flexbox (flex, $just: center, $align: center);
       margin-top: 0;
    }
  } 

@media (min-width: $break) {
    
    .centered {
      @include disp;
    }
  } 