// GRID 

* {
    box-sizing: border-box;
} 

.headline-primary {
    margin-left: 10px;
  }

.blockquote {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $theme-color-primary;
    border-radius: 5px;
  }  

.card {
    flex-basis: 100%;
  }

.container {
    padding: 0 10px;
    @media (min-width: $break) {
        max-width: 1400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
  }
  
.row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @media (min-width: $break) {
        flex-direction: row;
    }
  }
  
[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @media (min-width: $break) {
       display: flex;
       justify-content: center;
       margin-top: 0;
       align-items: center;
    }
  } 

@media (min-width: $break) {
    
    .centered {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  } 