// IMAGES

.img {
  &-avatar {
    @include disp;
    margin-top: 10px;
    max-width: $width-max; 
    max-height: 100%;
  }
  
  &-frame {
    @include disp;
    margin-top: 10px;
    max-width: $width-max;
    padding: 13px;
    border: 1px solid #ccc;
  }

  &-logo {
    @include disp;
  }

  @media (min-width: $break) {
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
  }
}